@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { @apply bg-zinc-50 text-zinc-900; }

@media print {
  .no-print { display: none !important; }
  body { @apply bg-white; }
}
